*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*font-family: 'Lato', sans-serif;========>texto

font-family: 'Pathway Gothic One', sans-serif;============>encabezados*/
body{
    font-family: 'Lora', serif;
    text-align: justify;

}
footer{
    font-family: 'Lora', serif;
}

.contenedor {
padding: 60px 0;
width: 90%;
max-width: 1000px;
margin: auto;
overflow: hidden;
}
/*header*/
header{
    font-family: 'Lora', serif;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.459) 0%, rgba(251, 194, 235, 0.507) 100%), url('https://images.unsplash.com/photo-1516116216624-53e697fedbea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
/* navbar*/
nav{
    text-align: right;
    padding: 30px 50px 0 0 ;
    
}
nav > a{
    font-family: 'Lora', serif;
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav a:hover{
text-decoration: underline;
}
.textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /*flex-direction: column;*/
    text-align: center;
}

.contenedor-texto-header{
    margin: 150px 0;
    text-align: center;
}
.titulo-header{
    font-size: 50px;
    color: white;
    margin-bottom: 5px;
}
.textos-header h1{
    font-family: 'Volkorn', serif;
}
.linea{
    width: 600px;
    margin: auto;
    height: 3px;
    background: lightblue;
    margin-bottom: 20px;
}

.sub-header{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Proeyctos*/
/*.galeria-proyecto{
    display: flex;
    justify-content: space-evenly;
}*/


.proyecto-cesar img{
    float: left;
    width: 30%;
    margin: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    clear: inherit;
}
.parrafo-derecha {
    width: 60%;
    font-family: 'Lora', serif;
    margin-right: auto;
}

.proyecto-data img{
    float: right;
    width: 30%;
    clear: right;
    margin: 15px;
    margin-bottom: 20px;
    clear: inherit;
    border-radius: 5px;
}
.parrafo-izq {
    width: 60%;
 
    margin-left: auto;
}
.parrafo-izq p{
    font-family: 'Lora', serif;
}

.proyecto-skill img{
    float: left;
    clear: inherit;
    width: 30%;
    margin: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  
}
.parrafo-izq {
    width: 60%;
    margin-right: auto;
}


.cards i{
    font-size: 60px;
    line-height: 100px;
    padding:  30px
}
.contenedor-iconos{
    display: flex;
    /*justify-content: space-between;*/
    text-align: center;
    justify-content: space-evenly;
}
.cards{
    width: 33%;
    margin:20px 0;
}
.cards p{
    margin: 10px 0;
}
/*footer*/
.redes-contacto {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
}
.redes-contacto p{
    text-align: center;
}
.contenedor-icono a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
}
.contenedor-icono:hover a {
	animation: icono .5s ease;
}
@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}
.link{ color: aquamarine;}
.perfiLab{ color: aquamarine;}
.git{ color: aquamarine;}

.contenedor-icono{
    font-size: 20px;
    line-height: 60px;
}
/*Sobre nosotros*/
.contenedor-sobre-nosotros{
    display:flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 48%;
}
.contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #0000;
    color:#fff;
    border-radius: 50%;
    display: inline-block;
    text-align: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
footer{
    background-color: #414141;
    padding: 60px 0 30px 0;
    width: 100%;
}
/*responsive*/
@media screen and (max-width:900px){
    header{
        background-position:center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }   
    .proyectos{
        width: 45%;
    } 
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .card{
        width: 90%;
        flex-direction: column;
        
    }
    
}
@media only screen and (min-width: 768px) {

    /*computadora*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    }
    [class*="col-"]{
        width: 100%;
      }
      .proy{
          display: flex;
          flex-wrap: wrap;
         
      }


.boton {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
    border-radius: 20px;
  }
  .boton:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  .boton:hover:before {
  width: 100%;
  }
  .titulo{
      font-family: 'Volkorn', serif;
  }
  .contenido-textos{
      font-family: 'Lora', serif;
  }
  #parrafo{
      font-family: 'Lora', serif;
  }
  .habilidades{
      font-family: 'Volkorn', serif;
  }
  /*@font-face {
    font-family: 'Lora', serif;
    font-display: auto;
    src: local('Lora'), url(https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap ) ;
  }
/*<style type="text/css" media="screen, print">-
    @font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");
    }
    
    body { font-family: "Bitstream Vera Serif Bold", serif }*/
  